{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table class="table">
        <thead class="thead-dark">
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Symbol</th>
              <th scope="col">Shares</th>
              <th scope="col">Price</th>
              <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for holding in holdings %}
            <tr>
              <td>{{ holding["name"] }}</td>
              <th scope="row">{{ holding["symbol"] }}</th>
              <td>{{ holding["shares"] }}</td>
              <td>{{ holding["price"] }}</td>
              <td>{{ holding["total"] }}</td>
            </tr>
            {% endfor %}
            <tr>
                <th scope="row">Cash</th>
                <td></td>
                <td></td>
                <td></td>
                <td >{{ cash }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ all_total }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}
